@media(min-width:1025px){
    table.pricing-plan-header{
			position: sticky;
			top:88px;
			padding-right:30px;
			z-index: 1;
			background: #FFFFFF;    
	}}
	@media(max-width:1024px) and (min-width:769px){
    table.pricing-plan-header{
			position: sticky;
			top:80px;
			padding-right:30px;
			z-index: 1;
			background: #FFFFFF;    
	}}

@media (max-width: 1280px) and (min-width: 1080px) {   .first-child {    width: 29% !important;

  } }
 @media (max-width: 1080px) and (min-width: 1024px) {   .first-child {    width: 31% !important;

  } 
     
 }
 
@media (max-width: 900px) and (min-width: 768px){
#tablePlan .border-btn a {
    padding: 5px 8px 5px 5px !important;
    display: inline !important;
}
}
 
@media (max-width: 900px) and (min-width: 800px){
.first-child {
    width: 27% !important;
}
}
 
  
@media (max-width: 800px) and (min-width: 768px){
.first-child {
    width: 28% !important;
}
}	
	